 /*-------------CARDS------------*/

 .card-on{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: inline-start;
    min-width: 145px;
    height: 100px;
    margin-right: 5%;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    background-color:#e4e4e4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .card-on:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .contain{
    padding: 2px 16px; 
  }


  .card-to{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: inline-start;
    min-width: 145px;
    height: 100px;
    margin-right: 5%;
    text-align: center;
    background-color: #fff0fa;
    margin-top: 30px;
    padding-top: 20px;
    float: inline-start;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .card-to:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .contain{
    padding: 2px 16px; 
  }


  .card-th{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: inline-start;
    min-width: 145px;
    height: 100px;
    margin-right: 5%;
    text-align: center;
    background-color: #0dcaf0;
    margin-top: 30px;
    padding-top: 20px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .card-th:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .contain{
    padding: 2px 16px; 
  }

.hidden {
display: none;
}


/*SEARCH BAR */

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px;
    padding: 12px 20px 12px 30px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
    margin-top: 2%;
  }
  
  #myTable {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd; 
    font-size: 18px; 
    background-color: whitesmoke;
  }
  
  #myTable th, #myTable td {
    text-align: left; 
    padding: 12px; 
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {

    background-color: #f1f1f1;
  }

  .section h1 h2{
    text-align: center;
  }

li button{
    background-color: inherit;
    border: none;
}
#hiddenText{
    margin-left: 50px;
    margin: 20px;
}
#hiddenText input{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

#hiddenText button{
    background-color: #0dcaf0;
    min-width: 100px;
    min-height: 30px;
    margin: 10px;
    font-size: large;
}

#showTextButton{
    background-color: none;
}